<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.plastickarma.readlater.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CreateBookmarkActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.plastickarma.readlater.app.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".CreateBookmarkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ReadLaterMain" />
        </activity>
        <activity
            android:name="de.plastickarma.readlater.app.CategoryMappingActivity"
            android:label="@string/title_activity_category_mapping"
            android:parentActivityName=".CreateBookmarkActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ReadLaterMain" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
